.item {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.status {
	margin-bottom: 10px;
	width: 15px;
	height: 15px;

	display: block;

	border-radius: 50%;
}

.name {
	margin-top: 10px;
	font-weight: 700;
}
