.statistics {
	width: 600px;
	margin: 0 auto 20px;

	font-weight: 700;
	text-align: center;

	background-color: cadetblue;
	border-radius: 20px;
	overflow: hidden;
}
.title {
	padding: 10px 0;
	font-size: 26px;
}
.statList {
	display: flex;
}
.item {
	padding-top: 10px;
	padding-bottom: 10px;
	flex-grow: 1;
}
.percentage {
	display: block;
}
